node-red_flow.json
[{"id":"a5baa9fc.830f5","type":"tab","label":"Dash01"},{"id":"fab8e4ca.29eb","type":"ui_gauge","z":"a5baa9fc.830f5","name":"C","group":"a008ac95.9ec93","order":1,"width":"","height":"","gtype":"gage","title":"Env Temperature","label":"°C","format":"{{value | number:1}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":784,"y":426,"wires":[]},{"id":"9d01ae36.e16bf","type":"change","z":"a5baa9fc.830f5","name":"LeAmbTemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.ambientTemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":568,"y":426.0000305175781,"wires":[["fab8e4ca.29eb","ebae6719.db687"]]},{"id":"fe9d1314.7598b8","type":"change","z":"a5baa9fc.830f5","name":"PegaUmidade","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":583,"y":232,"wires":[["a7790b6f.e21918"]]},{"id":"4208a35f.e58f7c","type":"change","z":"a5baa9fc.830f5","name":"LePressaoAtm","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":582,"y":283,"wires":[["2e9769fd.4e13ee"]]},{"id":"2e9769fd.4e13ee","type":"ui_gauge","z":"a5baa9fc.830f5","name":"mBar","group":"5c602973.efed7","order":1,"width":"","height":"","gtype":"gage","title":"Atm Pressure","label":"mBar","format":"{{value | number:1}}","min":0,"max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":793,"y":282,"wires":[]},{"id":"1adaba1c.1c819e","type":"ibmiot in","z":"a5baa9fc.830f5","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"247189c14882","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"SensorGsp","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":82,"y":204,"wires":[["9c2883c7.1b35e"]]},{"id":"f7f6460e.25688","type":"function","z":"a5baa9fc.830f5","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'seconds':  dt.getSeconds()\n}\nmsg.payload = (msg.hours-3) + \":\" + msg.mins + \":\" + (msg.seconds) + \"Hrs\";\nglobal.set(\"horas\",msg.hours-3);\nglobal.set(\"mins\",msg.mins);\nreturn msg;","outputs":1,"noerr":0,"x":408,"y":41,"wires":[["dfd161f1.089718"]]},{"id":"e30fa6dd.79725","type":"inject","z":"a5baa9fc.830f5","name":"Horas","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":156,"y":41,"wires":[["f7f6460e.25688"]]},{"id":"dfd161f1.089718","type":"ui_text","z":"a5baa9fc.830f5","group":"ea6c0591.6117","order":"4","width":"","height":"","name":"Horas","label":"Local Time","format":"{{msg.payload}}","layout":"col-center","x":790,"y":40,"wires":[]},{"id":"4cd1aefe.eedd78","type":"change","z":"a5baa9fc.830f5","name":"Luminosidade","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.light","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":579,"y":340,"wires":[["586fa83f.f7f8c"]]},{"id":"586fa83f.f7f8c","type":"ui_gauge","z":"a5baa9fc.830f5","name":"Luxímetro","group":"c54d01ab.5d97c","order":"1","width":"","height":"","gtype":"gage","title":"Light","label":"Lux","format":"{{value | number:1}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":330,"wires":[]},{"id":"8a06e4ae.b65608","type":"ui_slider","z":"a5baa9fc.830f5","name":"SetPoint","group":"a008ac95.9ec93","order":2,"topic":"thermostat/1","min":0,"max":"40","x":412.0000305175781,"y":842,"wires":[["755a03cc.de3afc","32fa8746.61f848"]]},{"id":"112048bd.230ebf","type":"inject","z":"a5baa9fc.830f5","name":"IniciaSPTemp","topic":"thermostat/1","payload":"40","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":135.00003051757812,"y":842,"wires":[["8a06e4ae.b65608","32fa8746.61f848"]]},{"id":"4f9ca55f.418d24","type":"watson-text-to-speech","z":"a5baa9fc.830f5","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"","apikey":"9TS4FqNObdSrIU85Ru4-07HvlJngRpf60icYjZB6sWvC","payload-response":false,"default-endpoint":false,"service-endpoint":"","x":317,"y":722,"wires":[["de989ef7.27e55"]]},{"id":"de989ef7.27e55","type":"change","z":"a5baa9fc.830f5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":517,"y":727.9999694824219,"wires":[["7f9c3b5.f7b4544"]]},{"id":"755a03cc.de3afc","type":"ui_text","z":"a5baa9fc.830f5","group":"a008ac95.9ec93","order":3,"name":"SetPoint","format":"{{msg.payload}}°C","x":643,"y":842,"wires":[]},{"id":"ebae6719.db687","type":"function","z":"a5baa9fc.830f5","name":"Strg2Float","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":235,"y":550,"wires":[["b34f8f6e.560c88","fc7ee255.bd46d8"]]},{"id":"8dd0e1f7.2e18","type":"ui_toast","z":"a5baa9fc.830f5","outputs":0,"name":"Alerta Visual","x":402.0000305175781,"y":659,"wires":[]},{"id":"2dea014f.5c9e9e","type":"change","z":"a5baa9fc.830f5","name":"LeObjTemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.objectTemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":568,"y":382,"wires":[["af501e6e.6f3b2"]]},{"id":"9c2883c7.1b35e","type":"function","z":"a5baa9fc.830f5","name":"","func":"global.set(\"temperatura\",msg.payload.d.ambientTemp);\nglobal.set(\"umidade\",msg.payload.d.humidity);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["fe9d1314.7598b8","4208a35f.e58f7c","4cd1aefe.eedd78","2dea014f.5c9e9e","9d01ae36.e16bf","581e3cd7.bffc34","d18dadb4.4c9568","e4030eb0.96f538"]]},{"id":"7f9c3b5.f7b4544","type":"ui_audio","z":"a5baa9fc.830f5","name":"","group":"a008ac95.9ec93","voice":"","x":700,"y":690.9999694824219,"wires":[]},{"id":"316fdf20.10a888","type":"inject","z":"a5baa9fc.830f5","name":"SimulaSensor","topic":"variavel","payload":"{ \"d\": { \"myName\": \"ti-sensortag2\", \"ambientTemp\": \"24.12\", \"objectTemp\": \"19.19\", \"humidity\": \"78.36713\", \"pressure\": \"925.58\", \"altitude\": \"0.1883064\", \"accelX\": \"0.02\", \"accelY\": \"0.03\", \"accelZ\": \"1.05\", \"gyroX\": \"3.98\", \"gyroY\": \"-0.86\", \"gyroZ\": \"5.56\", \"magX\": \"-1.35\", \"magY\": \"31.33\", \"magZ\": \"-21.14\", \"light\": \"189.28\" } }","payloadType":"json","repeat":"","crontab":"","once":true,"x":124,"y":327,"wires":[["9c2883c7.1b35e"]]},{"id":"6d25db4b.774fec","type":"debug","z":"a5baa9fc.830f5","name":"","active":false,"console":"false","complete":"false","x":656.7666931152344,"y":915.1500244140625,"wires":[]},{"id":"581e3cd7.bffc34","type":"change","z":"a5baa9fc.830f5","name":"LeAcelX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.accelX","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565.88330078125,"y":99.88333129882812,"wires":[["862d3a21.1899a"]]},{"id":"862d3a21.1899a","type":"ui_chart","z":"a5baa9fc.830f5","name":"","group":"216c90ad.1209d","order":0,"width":0,"height":0,"label":"AcelX","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":780.88330078125,"y":99.88333129882812,"wires":[[]]},{"id":"d18dadb4.4c9568","type":"change","z":"a5baa9fc.830f5","name":"LeAcelY","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.accelY","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":563.88330078125,"y":144.88333129882812,"wires":[["990de71e.584358"]]},{"id":"990de71e.584358","type":"ui_chart","z":"a5baa9fc.830f5","name":"","group":"216c90ad.1209d","order":0,"width":0,"height":0,"label":"AcelY","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":778.88330078125,"y":145.88333129882812,"wires":[[]]},{"id":"af501e6e.6f3b2","type":"ui_gauge","z":"a5baa9fc.830f5","name":"C","group":"f490e111.2aacd","order":6,"width":"","height":"","gtype":"gage","title":"InfraRed Temp","label":"°C","format":"{{value | number:1}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":796,"y":381,"wires":[]},{"id":"a7790b6f.e21918","type":"ui_gauge","z":"a5baa9fc.830f5","name":"%","group":"5c602973.efed7","order":2,"width":"","height":"","gtype":"gage","title":"Humidity","label":"%","format":"{{value | number:1}}","min":0,"max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":789,"y":220.00000762939453,"wires":[]},{"id":"39ac8fc.9ac29f","type":"ibmiot in","z":"a5baa9fc.830f5","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"b0b448bfe106","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"SensorLig","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":131,"y":260,"wires":[[]]},{"id":"32fa8746.61f848","type":"function","z":"a5baa9fc.830f5","name":"","func":"var stp\nstp = parseFloat(msg.payload);\nglobal.set(\"setpoint\",stp);\nreturn msg;","outputs":1,"noerr":0,"x":478.5000305175781,"y":916,"wires":[["6d25db4b.774fec"]]},{"id":"b34f8f6e.560c88","type":"debug","z":"a5baa9fc.830f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":221.26663208007812,"y":443.11669921875,"wires":[]},{"id":"fc7ee255.bd46d8","type":"function","z":"a5baa9fc.830f5","name":"","func":"if (msg.payload>global.get(\"setpoint\"))\n{\n    msg.payload = \"Atenção. Temperatura acima do limite\";\n}\nelse\n{\nmsg.payload = \"\";    \n}\nreturn msg;","outputs":1,"noerr":0,"x":458.2666320800781,"y":549.433349609375,"wires":[["9694935a.33228"]]},{"id":"9694935a.33228","type":"delay","z":"a5baa9fc.830f5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"8","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":182.26666259765625,"y":658.8999938964844,"wires":[["4f9ca55f.418d24","8dd0e1f7.2e18"]]},{"id":"da2f96dc.36b7f","type":"trigger","z":"a5baa9fc.830f5","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","reset":"","bytopic":"all","name":"","x":617.2666320800781,"y":610.1333312988281,"wires":[[]]},{"id":"1a351734.ce8369","type":"inject","z":"a5baa9fc.830f5","name":"InicializaSensor","topic":"variavel","payload":"{ \"d\": { \"myName\": \"ti-sensortag2\", \"ambientTemp\": \"0.0\", \"objectTemp\": \"0.0\", \"humidity\": \"0.0\", \"pressure\": \"0.0\", \"altitude\": \"0.0\", \"accelX\": \"0.00\", \"accelY\": \"0.00\", \"accelZ\": \"0.0\", \"gyroX\": \"0.0\", \"gyroY\": \"0.0\", \"gyroZ\": \"0.0\", \"magX\": \"0.0\", \"magY\": \"0.0\", \"magZ\": \"0.0\", \"light\": \"0.0\" } }","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"","x":182.88333129882812,"y":378.6833190917969,"wires":[["9c2883c7.1b35e"]]},{"id":"e4030eb0.96f538","type":"change","z":"a5baa9fc.830f5","name":"LeAcelY","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.accelZ","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565.88330078125,"y":190.88333129882812,"wires":[["2891a89.2de9358"]]},{"id":"2891a89.2de9358","type":"ui_chart","z":"a5baa9fc.830f5","name":"","group":"216c90ad.1209d","order":0,"width":0,"height":0,"label":"AcelZ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":778.88330078125,"y":181.88333129882812,"wires":[[]]},{"id":"a008ac95.9ec93","type":"ui_group","z":"","name":"Temperatura","tab":"6aee77e7.097728","order":6,"disp":false,"width":"6"},{"id":"5c602973.efed7","type":"ui_group","z":"","name":"Barometer","tab":"6aee77e7.097728","order":2,"disp":false,"width":"6"},{"id":"ea6c0591.6117","type":"ui_group","z":"","name":"Horas","tab":"6aee77e7.097728","order":1,"disp":false,"width":"6"},{"id":"c54d01ab.5d97c","type":"ui_group","z":"","name":"Lux","tab":"6aee77e7.097728","order":3,"disp":false,"width":"6"},{"id":"216c90ad.1209d","type":"ui_group","z":"","name":"Accelerometer","tab":"6aee77e7.097728","order":7,"disp":true,"width":"6"},{"id":"f490e111.2aacd","type":"ui_group","z":"","name":"Temp. InfraRed","tab":"6aee77e7.097728","order":4,"disp":false,"width":"6"},{"id":"6aee77e7.097728","type":"ui_tab","z":"","name":"IoT Dashboard","icon":"dashboard","order":"1"}]
